<li [ngClass]="{'list-group-item': true,
                'list-com': true}"
*ngIf="!deleted" class="col-11 mx-auto my-0">
    <div class="comment row">

    

        <div class="profilePic col-2 pt-0" >
            <img [src]="commentImageUrl">
        </div>
    <div class="comment-all col-10 py-2">
        <div class="infos">
        <p >De <a *ngIf="!exOne" routerLink="/profile/{{commentUserName}}" (click)="onSeeProfile()"><span>{{commentUserName}}</span></a><span *ngIf="exOne">{{commentUserName}}</span> le {{commentDate | date: 'd LLLL yyyy' | lowercase}} à {{commentDate | date: 'HH:mm':'UTC+4' | lowercase}}</p>
        
        <a *ngIf="modified" routerLink="/publications/{{postId}}" (click)="onSeeDate()">Modifié</a>
        </div>
        <p *ngIf="seeDate" [ngStyle]="{color: 'rgba(255, 209, 129, 0.722)'}"> Dernière modification  le {{modifDate | date: 'd LLLL yyyy' | lowercase}} à {{modifDate | date: 'HH:mm':'GMT+4' | lowercase}}</p>
        
        <div *ngIf=!modifying class="comment-view">
            <p *ngIf="commentModerated !== 1">{{initialComment}}</p>
            <p *ngIf="commentModerated===1" class="moderatedBackground">Ce contenu a été masqué suite à modération</p>
        </div>

        <form [formGroup]="modifyForm" *ngIf="!loading && modifying">
            <div class="form-group">
                <label for="comment">Modifier</label>
                <textarea  pattern="[A-Z\u00C0-\u00D6\u00D8-\u00DF]{0,1}[0-9a-zA-Z\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u024F\n \x22!?:(),\.\'-]{0,4000}" class="form-control" id="comment" formControlName="comment"></textarea>
            </div>
            <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
            <p class="my-2 text-danger" *ngIf="modifyForm.invalid">Un caractère non autorisé a été saisi</p>
            <button mat-raised-button class="mr-2" [disabled]="modifyForm.invalid" (click)="onMakeModif()">Envoyer</button>
            <button mat-raised-button (click)="onCancelModif()">Annuler</button>
        </form>
        
        <div *ngIf="moderator">
            <button *ngIf="!commentModerated && !isAuthor" mat-raised-button color="accent" class="mod mr-2 mb-2" (click)="onModerate()"><span>Modérer</span></button>
            <button *ngIf="commentModerated && !isAuthor" mat-stroked-button color="accent" class="mod mb-2" (click)="onModerate()"><span>Rétablir</span></button>
        </div>

        <button mat-raised-button class="mr-2" (click)="onWantDelete()" *ngIf="isAuthor && !modifying && !confirm">Effacer</button>
        <button mat-raised-button (click)="onModify()" *ngIf="isAuthor && !modifying && !confirm">Modifier</button>

        <p [ngStyle]="{color: ' rgb(245, 245, 245)'}" *ngIf="confirm">Etes-vous sûr(e) de vouloir supprimer ce commentaire ?</p>
        <button mat-raised-button class="mr-2"  *ngIf="confirm" (click)="onDelete()">Effacer</button>
        <button mat-raised-button *ngIf="confirm" (click)="onCancelDelete()">Annuler</button>
    </div>
    </div>
</li>