li {
    border: solid 1px pink;
    border-radius: 5px;
    list-style-type: none;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    background-color:  rgb(172, 183, 220);
}

.infos {
    display: flex;
    justify-content: space-between;
    p {
        font-weight: 600;
        color: rgb(32, 3, 163);
        
    }
    span {
        font-weight: bold;
    }

    a:focus {
        border: solid 1px  rgb(17, 184, 235);
        padding: 2px;
    }

    a{
        color: rgb(41, 41, 41);
    }
}

.comment-view {
    border: solid #b47a7a 1px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.975);       
    font-size: 1.1rem;
    padding: 10px;
    margin-bottom: 10px;
    p {
        white-space: pre-line;
    }
}

.list-group-item .moderatedBackground {
    font-size: 1.1rem;
    text-align: center;
    color: rgb(221, 55, 9);
}

.mod span {
    color: black;
}

