<li [ngClass]="{'list-group-item': true}"
*ngIf="!deleted" class="col-10 mx-auto my-0">
    <div class="infos">
    <p >De <a *ngIf="!exOne" routerLink="/profile/{{commentUserName}}" (click)="onSeeProfile()"><span>{{commentUserName}}</span></a><span *ngIf="exOne">{{commentUserName}}</span>, le {{commentDate | date: 'd LLLL yyyy' | lowercase}} à {{commentDate | date: 'HH:mm':'UTC+4' | lowercase}}</p>
    
    <a *ngIf="modified" routerLink="/publications/{{postId}}" (click)="onSeeDate()">Modifié</a>
    </div>
    
    <div *ngIf=!modifying class="comment-view">
        <p *ngIf="commentModerated !== 1">{{initialComment}}</p>
        <p *ngIf="commentModerated===1" class="moderatedBackground">Ce contenu a été masqué suite à modération</p>
    </div>

    <p *ngIf="seeDate"> Dernière modification  le {{modifDate | date: 'd LLLL yyyy' | lowercase}} à {{modifDate | date: 'HH:mm':'GMT+4' | lowercase}}</p>
    <form [formGroup]="modifyForm" *ngIf="!loading && modifying">
        <div class="form-group">
          <label for="comment">Modifier</label>
          <textarea  pattern="[A-Z\u00C0-\u00D6\u00D8-\u00DF]{0,1}[0-9a-zA-Z\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u024F\n \x22!?:(),\.\'-]{1,4000}" class="form-control" id="comment" formControlName="comment"></textarea>
        </div>
        <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
        <div class="my-2" *ngIf="modifyForm.invalid">Un caractère non autorisé a été saisi</div>
        <button class="mr-2" mat-raised-button color="primary" [disabled]="modifyForm.invalid" (click)="onMakeModif()">Envoyer</button>
        <button mat-raised-button color="primary" (click)="onCancelModif()">Annuler</button>
    </form>
    
    <div *ngIf="moderator">
        <button *ngIf="!commentModerated && !isAuthor" mat-raised-button color="accent" class="mod mr-2 mb-2" (click)="onModerate()"><span>Modérer</span></button>
        <button *ngIf="commentModerated && !isAuthor" mat-stroked-button color="accent" class="mod mb-2" (click)="onModerate()"><span>Rétablir</span></button>
    </div>

    <button class="mr-2" mat-raised-button color="primary" (click)="onWantDelete()" *ngIf="isAuthor && !modifying && !confirm">Effacer</button>
    <button mat-raised-button color="primary" (click)="onModify()" *ngIf="isAuthor && !modifying && !confirm">Modifier</button>

    <p *ngIf="confirm">Etes-vous sûr(e) de vouloir supprimer ce commentaire</p>
    <button class="mr-2"  *ngIf="confirm" mat-raised-button color="primary" (click)="onDelete()">Effacer</button>
    <button *ngIf="confirm" mat-raised-button color="primary" (click)="onCancelDelete()">Annuler</button>
</li>