<li *ngIf="!postId" [ngClass]="{'list-group-item': true
                                }">
    <div class="notification-message">
        <div>
            <p [ngStyle]="{color: 'whitesmoke'}">Nouvelle publication <a (click)="onSeePublication()">
            <span> {{title}}</span></a> par <span class="username">{{postUserName}}</span></p>
        </div>
    </div>   
</li>

<li *ngIf="postId" [ngClass]="{'list-group-item': true, 'warning': true }">
    <div class="notification-message">
        <div>
            <p [ngStyle]="{color: 'whitesmoke'}">Nouveau commentaire par <span class="username">{{commentUserName}}</span> sur la publication <a (click)="onSeePublicationCom()">
            <span>{{titlePost}}</span></a></p>
        </div>        
    </div>   
</li>
