<li *ngIf="!postId" [ngClass]="{'list-group-item': true}">
    <div class="notification-message">
        <div>
            <p [ngStyle]="{color: ' rgb(82, 105, 183)'}">Nouvelle publication <a (click)="onSeePublication()">
            <span> {{title}}</span></a> par <span>{{postUserName}}</span></p>
        </div>
    </div>   
</li>

<li *ngIf="postId" [ngClass]="{'list-group-item': true, 'warning': true }">
    <div class="notification-message">
        <div>
            <p [ngStyle]="{color: ' rgb(82, 105, 183)'}">Nouveau commentaire par {{commentUserName}} sur la publication <a (click)="onSeePublicationCom()">
            <span>{{titlePost}}</span></a></p>
        </div>        
    </div>   
</li>
