.menu {
    display:flex;
    justify-content: flex-end;
    align-items: center;
   
    a{
        font-size: 0.9rem;
        background-color: rgb(80, 51, 210);
        border-radius: 5px;
        color: white;
        padding: 10px;
        margin:5px;
    }

    a:hover {
        background-color: rgb(17, 184, 235)
    }

    a:focus {
        //border: solid 3px black;
        background-color: rgb(17, 184, 235)
    }
}

.bannier {
    background-color: white;    
    border: solid rgb(80, 51, 210) 3px;
}

.job-place {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 2rem;
        color: rgb(82, 105, 183);    }
}

img {
    width: 90%;
}