img {
    width: 100%;
    height: auto;
    margin: auto;
    border: solid 3px rgb(80, 51, 210);
    padding: 10px;
}

h2 {
    font-style: italic;
    color: rgb(101, 101, 101);
    font-weight: 700;
    width: 90%;
    font-size: 1.7rem;
}