.warning {
    border-color: lightcoral;
    span {
        color: lightcoral;
    }
}

p {
    color: white;
}

span {
    font-weight: bold;
    color: rgb(104, 30, 241);
}

.notification-message-mod {
    background-color: rgb(3,3,3);
}