@import '../../colors.scss';

.warning {
    
    border: solid 2px lightcoral;    
    span {
        color: lightcoral;
        font-weight: bold;
    }
}

p {
    color: white;
}

.commented {
    border: solid 2px $btn-main;
    span {
        font-weight: bold;
        color: $post-bg;
    }
}

.warning, .commented {
    border-radius: 10px;
    background-color: black;
    margin-bottom: 10px;
    
}
