@import '../../colors.scss';

.warning {
    border-color: lightcoral;
    
    span {
        color: lightcoral;
        font-weight: bold;
    }
}

p {
    color: white;
}

.comNotif {
    border-color: $btn-main;
    span {
        font-weight: bold;
        color: $post-bg;
    }
}

.warning, .comNotif {
    border-radius: 10px;
    background-color: black;
    margin-bottom: 10px;

}