<div class="row  my-5 mx-1 mx-auto">
        <div class="frame col-xs-12 col-lg-10 py-3 mx-auto">
            <div class="row">
                <ul class="list-group col-8 col-md-7 mx-auto my-1">
                    <app-admin-list *ngFor="let newPost of newPosts; let l = index"
                        [title]="newPost.title"
                        [moderated]="newPost.moderated"
                        [id]="newPost.id"
                        [postUserName]="newPost.userName"
                        >

                    </app-admin-list>
                    <app-admin-list *ngFor="let newComment of newComments; let m = index"
                        [postId]="newComment.postId"
                        [titlePost]="newComment.title"
                        [commentId]="newComment.id"
                        [commentUserName]="newComment.userName"
                        >
                    </app-admin-list>
                </ul>
            </div>
            <div *ngIf="!gotPostNotifs && !gotCommentNotifs" class="text-center">Vous n'avez pas de notifications</div>
        </div>
</div>