<li [ngClass]="{'list-group-item': true,
                'items-publi': true,
                'list-group-item-like': publicationLikes === 1}"
                id="{{id}}">
    <div class="overview">
        
        <div class="profilePic pt-0" >
            <img [src]="publicationImageUser">        
            <p>Par <a routerLink="/profile/{{publicationUserName}}" (click)="onSeeProfile()"><span>{{publicationUserName}}</span></a> le {{publicationDate | date: 'd LLLL yyyy'}}</p>
        </div>
        <h3 class="mb-3 text-center" [ngStyle]="{color: ' rgb(176, 94, 31)'}">{{title}}</h3>
        <div  class="text-overview">
            <p *ngIf="publicationModerated !== 1">{{content}}</p>            
            <p *ngIf="publicationModerated===1" class="text-danger moderatedBackground">Ce contenu a été masqué suite à modération</p>
        </div>
        <p class="text-right">{{publicationNumberComments}} commentaires</p>
    </div>
    <div class="see-it" *ngIf="publicationModerated !== 1 || moderator">
        <a [routerLink]="[id]" (click)="onSeePublication()"><img src="./assets/images/see-icon.png"></a>
        
    </div>
</li>
