.search {
    
    padding-bottom: 20px;
    border-bottom: solid 2px rgb(80, 37, 235);
    margin-bottom: 20px;
}

#window {   
    padding: 5px 10px 5px 10px;   
    border: solid 2px rgb(80, 37, 235);
    border-radius: 5px;
    font-size: 1rem;
    height: auto;
    :focus {
        border: solid 2px ;       
        color:rgb(169, 55, 144)
    }
}

.noUser {
    color: red;
}

.controls {
    button {
    font-size: 0.75rem;
    }
}

.search p {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    border: solid 3px rgb(80, 37, 235);
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
    background-color: lavender;
    color: rgb(82, 82, 82)
}

.show-profile {
    background-color: lavender;
    border: solid 1px rgb(80, 37, 235);
    div {
        font-weight: 600;
        color: rgb(58, 58, 228);
        white-space: pre-line;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        
        
    }
    span {
        font-weight: initial;
        color: rgb(87, 87, 87);
    }
        #zero {
            margin: 20px 20px 10px 20px;
        }
        #first {
            margin: 5px 20px 10px 20px;
        }
        #second {
            margin: 5px 20px 10px 20px;
        }
        #aboutMe {
            margin: 5px 20px 20px 20px;
            min-height: 80px;
        }
}

h2 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
}