<div class="row">
    <div class="col-xs-10 col-md-8 mx-auto">

        <mat-spinner style="margin:0 auto;" *ngIf="loading"></mat-spinner>
        <div class="show-profile" *ngIf="!searching">
            <div class="profilePic mt-3" *ngIf="profile?.imageUrl">
                <img [src]="profile?.imageUrl">
            </div>
            <div id="zero"><p>Nom d'utilisateur : <span>{{profile?.userName}}</span></p></div>
            <div id="first">
                <p>Prénom : <span>{{profile?.firstname}}</span></p>
                <p>Nom : <span>{{profile?.lastname}}</span></p>
            </div>
            <div id="second">
                <p>Service : <span>{{profile?.serviceName}}</span></p>
                <p *ngIf="email">e-mail : <span>{{profile?.email}}</span></p>
            </div>        
            <div id="aboutMe" *ngIf="aboutMe"><p>A propos de moi : <span>{{aboutMe}}</span></p></div>
        </div>
        <p class="noUser mx-auto">{{noUser}}</p>
        <div class="row controls">
            <div class="row col-xs-12 col-md-6 mx-auto">
                <button class="col-xs-12 col-sm-11 mx-auto my-1 text-center" *ngIf="!fromList && !searching && !fromUsersList && !isMine" routerLink="/publications/{{fromPost}}">Retour publication</button>
                <button class="col-xs-12 col-sm-5 mx-auto my-1 text-center" *ngIf="!searching" routerLink="/publications">Retour liste</button>
                <button class="col-xs-12 col-sm-5 mx-auto my-1 text-center" *ngIf="!searching" (click)="onGetList()">Rechercher</button>
            </div>
            <div class="row col-xs-12 col-md-6 mx-auto">
                <button class="col-xs-12 col-sm-5 mx-auto my-1 text-center" *ngIf="isMine && !searching" routerLink="modify">Modifier</button>
                <button class="col-xs-12 col-sm-5 mx-auto my-1 text-center" *ngIf="isMine && !searching" routerLink="settings">Paramètres</button>
            </div>
        </div>
        <br/>
        <br/>

        <div *ngIf="!searching">
            <h2 *ngIf="publications?.length">Publications : </h2>
            <ul class="list-group">
                <app-user-publications  *ngFor="let publication of publications; let i = index"
                    [publicationTitle]="publication.title"
                    [publicationContent]="publication.content"
                    [publicationDate]="publication.date_publication"
                    [publicationLikes]="publication.likes"
                    [publicationNumberComments]="publication.numberComments"
                    [publicationUserName]="publication.userName"
                    [publicationModerated]="publication.moderated"
                    [fromProfile]="fromProfile"
                    [index]="i" 
                    [id]="publication.id">
                </app-user-publications>
            </ul>
        </div>

        <div class="search" *ngIf="searching">
            <div class="row">
                <h2 class="text-center align-self-center col-7 mb-2 mx-auto">Liste des utilisateurs</h2>
                <button class="col-4 mb-2 ml-1 text-center mx-auto" color="primary" (click)="onBackFromList()">Retour au profil</button>
            </div>    
        </div>
        <br/>
        <br/>
        <div class="users-list" *ngIf="searching">
            <label for="search-window">Entrer un nom d'utilisateur</label>
            <div class="row align-items-center ">
                                
                    <input id="search-window" class="col-7 mx-auto"  #inputUserName name="search">
                    <button class="ml-1 mx-auto align-items-center col-4" type="submit" (click)="onSearch(inputUserName.value)">Chercher</button>
            </div>
            
            <ul class="list-group mt-4">        
                <app-users-list *ngFor="let shortProfile of shortProfiles; let j = index"
                    [userName]="shortProfile.userName"
                    [firstname]="shortProfile.firstname"
                    [lastname]="shortProfile.lastname"
                    [serviceName]="shortProfile.serviceName"
                    [imageUrl]="shortProfile.imageUrl">
                </app-users-list>
            </ul>
        </div>
    </div>
</div>
