@import '../colors';


.search {    
    padding:20px;
    margin-bottom: 20px;
    background-color: $post-bg;
    border-radius: 10px;
    button {
        background-color: $btn-main;
        font-size: 1.5rem;
            
            border-radius: 3px;
            color: whitesmoke;
            font-weight: 500;
            height: 55px;
            margin-bottom: 15px;
    }
}

#search-window {   
    padding: 5px 10px 5px 10px;   
    border: solid 2px $btn-main;
    border-radius: 5px;
    font-size: 1rem;
    height: 55px;
    :focus {
        border: solid 2px ;       
        color:rgb(169, 55, 144)
    }
}

.noUser {
    color: red;
}

.controls {
    button {
    font-size: 0.75rem;
    color: whitesmoke;
    background-color: $btn-main;
    }
}

.search p {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    border: solid 3px rgb(80, 37, 235);
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
    background-color: lavender;
    color: rgb(82, 82, 82)
}

.show-profile {
    background-color: $grey-black;
    border: solid 2px $post-bg;
    border-radius: 10px;
    div {
        font-weight: 600;
        white-space: pre-line;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        padding: 10px; 
        color: whitesmoke;
        background-color: black;
        border: solid 1px $btn-main;       
    }
    span {
        font-weight: initial;
        color: whitesmoke;
    }
        #zero {
            margin: 20px 20px 10px 20px;
            color: $post-bg;
        }
        #first {
            margin: 5px 20px 10px 20px;
            color: $post-bg;
        }
        #second {
            margin: 5px 20px 10px 20px;
            color: $post-bg;
        }
        #aboutMe {
            margin: 5px 20px 20px 20px;
            color: $post-bg;
            min-height: 80px;
        }
        .profilePic {
            background-color: $grey-black;
            border: none;
        }
}

.profilePic {
    img {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: solid 2px $post-bg;
        margin: auto;
    }
}

h2 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
    color: whitesmoke;
}

button {
    background-color: $btn-main;
    font-size: 1.5rem;
        
        border-radius: 20px;
        color: whitesmoke;
        font-weight: 500;
        margin-bottom: 15px;
}