@import '../colors';

.search {    
    margin:20px;    
    background-color: $post-bg;
    border-radius: 10px;
    button {
        border-radius: 50%;
        padding: 10px;        
        img {
            width: 30px;
            height: 30px;             
        } 
    }
    button:hover {
        background-color: $grey-black;
    }
     
    h2 {
        font-size: 2rem;    
        font-weight: 600;
        color: $grey-black;    
    }
}

#search-tool {
    margin: 0px 5px;
}

#search-window {   
    padding: 5px 10px;   
    border: solid 2px $btn-main;
    border-radius: 5px;
    font-size: 1rem;
    background-color: $grey-black;
    color: whitesmoke;
    width: 95%;
    height: 36px;    
}

#noUser {
    height: 20px;    
    p {
        color: red;
    }
}

.controls {
    margin-top: 20px;
    button {
        font-size: 0.75rem;
        color: whitesmoke;
        background-color: $btn-main;
        border-radius: 50%;
        padding: 10px;
    }
    button:hover {
        background-color: $grey-black;
    }
    img {
        width: 30px;
        height: 30px;
    }
}

.show-profile {
    background-color: $grey-black;
    border: solid 2px $post-bg;
    border-radius: 10px;
    .profilePic, #zero, #first, #second, #aboutMe {
        font-weight: 600;
        white-space: pre-line;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        padding: 10px; 
        color: whitesmoke;
        background-color: black;
        border: solid 1px $post-bg;               
    }
    
    span {
        font-weight: initial;
        color: whitesmoke;
    }
        #zero {
            margin: 20px 20px 10px 20px;
            color: $post-bg;
        }
        #first {
            margin: 5px 20px 10px 20px;
            color: $post-bg;
        }
        #second {
            margin: 5px 20px 10px 20px;
            color: $post-bg;
        }
        #aboutMe {
            margin: 5px 20px 20px 20px;
            color: $post-bg;
            min-height: 80px;
        }
        .profilePic {
            background-color: $grey-black;
            border: none;
        }
        button {
            background-color: $post-bg;
            border-radius: 5px;
            padding: 5px 30px;
        }
}

.profilePic {
    img {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: solid 2px $post-bg;
        margin: auto;
        background-color: black;
    }
    
}

h2 {
    font-size: 1.8rem;    
    font-weight: 600;
    color: whitesmoke;    
}

button {
    background-color: $btn-main;
    color: whitesmoke;  
}


