<div class="row  my-5 mx-1 mx-auto">
        <div class="frame col-xs-12 col-lg-10 py-3 mx-auto">
    <div class="row">
        <ul class="list-group col-8 col-md-7 mx-auto my-1">
            <app-notifications-list *ngFor="let postNotif of postNotifs; let j = index"
                [title]="postNotif.title"
                [moderated]="postNotif.moderated"
                [id]="postNotif.id"
                >

            </app-notifications-list>
            <app-notifications-list *ngFor="let commentNotif of commentNotifs; let k = index"
                [postId]="commentNotif.postId"
                [titlePost]="commentNotif.title"
                [commentId]="commentNotif.id"
                >
            </app-notifications-list>
        </ul>
    </div>
    <p *ngIf="!gotPostNotifs && !gotCommentNotifs" class="text-center">Vous n'avez pas de notifications</p>
</div>
</div>
